hr {
    color: white;
}

.body-container {
    display: flex;
}

.body-left {
    width: 250px;
    max-width: 300px;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.body-right {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow: auto;
}

.body-right-title {
    width: 100%;
    padding: 22px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: fit-content;
    border-bottom: 1px solid rgb(201, 201, 201);
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
}

.body-right-search {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* width: 70%; */
    /* height: fit-content; */
    /* margin-left: 50px; */
    /* position: relative; */
}


/* .body-right-search>span {
    position: absolute;
    right: 15px;
} */